.env
frontend/node_modules
frontend/node_modules/.package-lock.json
frontend/node_modules/.vite/deps/_metadata.json
frontend/node_modules/fsevents/fsevents.d.ts
frontend/node_modules/fsevents/fsevents.js
frontend/node_modules/fsevents/fsevents.node
frontend/node_modules/fsevents/LICENSE
frontend/node_modules/fsevents/package.json
frontend/node_modules/fsevents/README.md
frontend/node_modules/.package-lock.json
frontend/node_modules/.vite/deps/_metadata.json
frontend/node_modules/.package-lock.json
frontend/node_modules/.vite/deps/_metadata.json
frontend/node_modules/.package-lock.json
frontend/node_modules/.vite/deps 2/_metadata.json
frontend/node_modules/.vite/deps 2/chunk-BUSYA2B4.js
frontend/node_modules/.vite/deps 2/chunk-BUSYA2B4.js.map
frontend/node_modules/.vite/deps 2/chunk-L57YJLEW.js
frontend/node_modules/.vite/deps 2/chunk-L57YJLEW.js.map
frontend/node_modules/.vite/deps 2/chunk-NGODP64W.js
frontend/node_modules/.vite/deps 2/chunk-NGODP64W.js.map
frontend/node_modules/.vite/deps 2/package.json
frontend/node_modules/.vite/deps 2/qrious.js
frontend/node_modules/.vite/deps 2/qrious.js.map
frontend/node_modules/.vite/deps 2/react-dom.js
frontend/node_modules/.vite/deps 2/react-dom.js.map
frontend/node_modules/.vite/deps 2/react-dom_client.js
frontend/node_modules/.vite/deps 2/react-dom_client.js.map
frontend/node_modules/.vite/deps 2/react.js
frontend/node_modules/.vite/deps 2/react.js.map
frontend/node_modules/.vite/deps 2/react_jsx-dev-runtime.js
frontend/node_modules/.vite/deps 2/react_jsx-dev-runtime.js.map
frontend/node_modules/.vite/deps 2/react_jsx-runtime.js
frontend/node_modules/.vite/deps 2/react_jsx-runtime.js.map
frontend/node_modules/.vite/deps/_metadata.json
frontend/node_modules/.package-lock.json
frontend/node_modules/.vite/deps/_metadata.json
frontend/node_modules/.bin/acorn
.DS_Store
